<div id="cartDiv" class="cart">
    <div class="eventBody">
        <h1>Cart Details</h1>
        
        <%if(typeof data.ejsData1 == 'object' && data.ejsData1){%>
            <!--THERE IS A USER-->
            <h2>Welcome <%=data.ejsData1.name%></h2>
            <div><h2>Your Cart Total: $<%= cartTotal%>.00</h2></div>
            <div class="cartContain">
    <%if(typeof data.ejsData1.cart == 'object' && data.ejsData1.cart[0]){%>
      <table>
        <thead>
<td><h3> name</h3></td>
<td><h3> image</h3></td>
<td><h3> price</h3></td>
        </thead>
<tbody>
    <%for(let i=0;i<data.ejsData1.cart.length;i++){%>
        <td> <h3>   <%=data.ejsData1.cart[i].name%></h3></td>
        <tr>       
        <td>   <img alt="<%=data.ejsData1.cart[i].name%>" src="/<%=data.ejsData1.cart[i].img%>"></td>
        <td> <h3> $  <%=data.ejsData1.cart[i].price%>.00</h3></td>
        <td><form action="/delCart"method="post"><button onclick="loading('deleting item from cart')" class="cartBtn" name="cartNum" type="submit" value="<%data.ejsData1.cart[i].name%>">delete Item</button></form> </td>
    </tr>
    <%}%>
</tbody>
    </table>

    <div>

        <%- include('paypal.ejs')%>

    </div>
     <!--THERE IS A CART ITEM PRESENT-->
        <%}else{%>
            <h2>You have no Cart Items</h2>
           <!--THERE ARE NO CART ITEMS-->
    <%}%>

    <%}else{%>
       <!--THERE IS NO USER-->
<%}%>


    
  
</div>

<button id="checkoutButton" onclick="getPaypal()"><h2>checkout Now</h2></button>
<button id="checkoutShrink" onclick="shrinkPaypal()"><h2>shrink checkout </h2></button>
<button onclick="shrinkCart()"><h2>shrink cart</h2></button>

</div>
</div>