<!DOCTYPE html>
<html>

    <%- include('config/head.ejs')%>

<body onload="bodyLoader()">   

        <div class="mainStyle"> 
            <%- include('config/bkgdImg.ejs')%>
            <%- include('config/header.ejs')%>
            
            
                <div class="eventBody">
                    <h1>about us</h1>
                  
<div class="eventBody_about">
    <div class="eventBody_about">
        <div class="eventBody">
                <p> <span class="alert"> NoCo Metalworkz</span> operates as a small specialized team in Greeley, CO</p>
       <p>We Offer:</p>
                  <ul>
    <li>Advanced Fabrication</li>
    <li>Fencing & Automatic Gates</li>
    <li>Industrial Stairways & Catwalk Assembly</li>
    <li>Automotive Parts & Accessories</li>
    <li>Custom Onsite metalworkz</li>
    <li>delivered machine parks & custom workz</li>
    
    <p></p>
    </ul>
                </div>
                <div class="imgSubDiv">
                    <img class="imgSub" src="/images/laser.png">
                </div>
       
        </div>
            </div>
            <br>
       
          

        
        <div class="midBar">
       
                <div class="landingPage0">
            <a href="/market">     <div class="navBox">
                services
            </div></a>
        </div>
<div class="landingPage0">
   <a href="/faqs"> <div class="navBox">
        F.A.Q's
    </div></a>
</div>
<div class="landingPage0">
    <a href="/">   <div class="navBox">
       home
    </div></a>
</div>
</div>
<div class="eventBody">


</div>






      <%- include('config/footer.ejs')%>

    </div>
<div class="mainStyle">
    <div class="eventBody">
        <h2>about this website</h2>
        <p>This ia a prograssive web application</p>
        <p>Runs in all major browsers with no app store download required</p>
        <p>Browse anonimously or add to cart by <a href="/login">registering</a> your email with us</p>
        <p><a href="/register">Contact NoCo MetalWorkz</a>  about Estimates, Product Info, or a custom Design Idea</p>
        <p>Our website offers our guests to browse, save, and purchase custom parts and plasma cuts </p>
        <h2>Noco Metalworkz Web Application is Developed and Hosted by:</h2> <a href="app.w2marketing.biz"><h2> W2 Marketing LLC ~ Greeley, CO</h2></a>
        <a href=""><h2>report app issues to developer</h2></a>
    </div>
    <br>
 
</div>

<%- include('./config/baseScripts.ejs')%>
</body>
 </html>