<!DOCTYPE html>
<html>
  <head>
    
    <%- include('config/head.ejs')%>
<!--GOOGLE-->
<meta name="google-site-verification" content="Pvp74_YXTw6uwsBP-6pTFmbwnjXD7_zXP-WUG4FpWU8" />
<!--end-->
</head>
<body onload="minView(1)">   
  <%- include('config/bkgdImg.ejs')%>            
  <%- include('config/loadScreen.ejs')%>
  <%- include('config/header.ejs')%>
  <div id="backgroundFX">    
   
      <h1 class="h1Span">ACCOUNTS</h1>
      <button style="background-color:rgb(33, 133, 133)" onclick="switchView(pageGrid)">table</button>
      <button style="background-color:rgb(33, 133, 133)" onclick="switchView(pageCard)">card</button>
      <button hidden onclick="switchView(pageNav)">nav</button>
      <a href="/services"><button>services</button></a>
      <a href="/admin"><button>admin</button></a>
      <button onclick="switchView(pageAdd)">add</button>
      <a href="/invoice"><button>invoice</button></a>
    <div  id="pageCard" class="landingPage">
      <%for(let i =0;i<data[0].length;i++){%>
        <a href="/editor/?_id=<%=data[0][i]._id%>&ext=_clients">
        <div class="eventBody">
          <span class="alert"><h2> <%= data[0][i].companyName%></h2></span><br>
          <%= data[0][i].contactName%><br>
          <%= data[0][i].email%><br>
          <%= data[0][i].phoneNumber%><br>
          <%= data[0][i].businessAddress%>
        </div>
      </a>
        <%}%>
      </div>
        
    <div class="eventBody" id="pageAdd">
      <h1>Add Client</h1>
      <form action="/postToClients" method="post">
        <label for="collection-ext-name">collection Ext Name:</label>
        <input type="text" id="collectionExtName" name="collectionExtName" value="_clients" hidden required>
        <br><br>
        <label for="contact-name">Contact Name:</label>
        <input type="text" id="contact-name" name="contactName" required>
        <br><br>
        
        <label for="email">Email:</label>
        <input type="email" id="email" name="email" required>
        <br><br>
        
        <label for="company-name">Company Name:</label>
        <input type="text" id="company-name" name="companyName" required>
        <br><br>
        
        <label for="phone-number">Phone Number:</label>
        <input type="tel" id="phone-number" name="phoneNumber" pattern="[0-9]{3}-[0-9]{3}-[0-9]{4}" required>
        <span class="alert">Format: 123-456-7890</span>
        <br><br>

        <label for="business-address">Business Address:</label>
        <textarea id="businessAddress" name="businessAddress" rows="4" cols="50" required></textarea>
        <br><br>
        
        <input type="submit" value="Add Client">
      </form>
    </div>

    <div id="pageNav">
      <span class="alert"><h2>navigation</h2>
      </span>
      <%- include('./config/midbarAdmin.ejs')%>
    </div>

    <div id="pageGrid" class="eventBody">
      <table >
        <thead>
          <tr>
            <th>Contact Name</th>
            <th>Email</th>
            <th>Company Name</th>
            <th>Phone Number</th>
            <th style="text-align: center;">Business Address</th>
           
            <th>Edit</th>
            <th>Delete</th>
          </tr>
        </thead>
        <tbody>
          <% for(let i=0;i<data[0].length;i++){%>
          <tr>
            <td><%=data[0][i].contactName%></td>
            <td><%=data[0][i].email%></td>
            <td><%=data[0][i].companyName%></td>
            <td><%=data[0][i].phoneNumber%></td>
            <td><%=data[0][i].businessAddress%></td>
         
            <td><a href="/editor/?_id=<%=data[0][i]._id%>&ext=_clients"><span class="alert"> Edit</span></a></td>
           
          </tr>
      <%}%>
          <!-- Add more rows as needed -->
        </tbody>
      </table>
        </div>

    
   
    
      
      
      
      
    
    
  </div>
  
  
  
</div>

<script>
  const pageCard= document.getElementById('pageCard')
  const pageGrid= document.getElementById('pageGrid')
  const pageNav= document.getElementById('pageNav')
  const pageAdd= document.getElementById('pageAdd')
  function minView(zz){
    const viewArray = [pageCard,pageAdd,pageGrid,pageNav]
    console.log(viewArray)
    for(let i=zz;i<viewArray.length;i++){
    viewArray[i].style.display = "none"
  }
  }
  function switchView(view){
  minView(0)
  if(view==pageCard){
    view.style.display="grid"
  }else{
  view.style.display="block"
  }}
  
  </script>
</body> </html>