<!DOCTYPE html>
<html>
<!---------------todos feb 6th 2024------------------->
<!----------------auth and cart adding not working------------------>
<!----------------class=imgPreiview is adversly ------------------>
<!----------------affecting the ui/dom in the product details page------------------>
<!----------------send message function confirmation reduce spam------------------>
<!---------------------------------->
<!---------------------------------->
<!---------------------------------->
<!-----------------expand message to hit all message links----------------->
<!---------------------------------->
<!---------------------------------->
<!----------------live intro------------------>
<!----------------upload multiple photos------------------>
<!----------------edit change descriptions------------------>
<!-----------------update the admin ----------------->
<!------------------------------------------------->
<!-----------------whats happening changed to facebook feed----------------->
    <%- include('config/head.ejs')%>

<body onload="bodyLoader()">
    <div id="registry">
        <%- include('forms/registryForm')%>
        <%- include('forms/register')%>
    </div>
    <canvas id="bkgdCanvas"></canvas>   
        <div id="mainBody" class="">            
            <%- include('config/bkgdImg.ejs')%>            
            <%- include('config/loadScreen.ejs')%>
            <%- include('config/header.ejs',{data:data})%>
            
    <%- include('config/intro.ejs')%> 


        <div class="indexSpacerBottom"></div>
        <%- include('config/footer.ejs')%>
  
    </div>
    
    
    <%- include('./config/baseScripts.ejs')%>
  
        
        
         
        
</body>
 </html>