<!DOCTYPE html>
<html>
    
    <%- include('config/head.ejs')%>

 <div class="mainStyle">
 
    <%- include('config/bkgdImg.ejs')%>
    <%- include('config/header.ejs')%>
    <body>
    <div class="eventBody">
    <div class="navBox" onclick="loginSwap(loginGroup,'sign in with one touch with:')">Sign In</div>
    <div class="navBox" onclick="loginSwap(regGroup,'register with one touch')">Register</div>

       
      <div id="localSignin" class="loginBody">
        <h2>
          Sign in with Email:
        </h2>
        <form action="/auth/checkCreds" method="post">
          <div>
            <label for="email">email</label>
            <input id="email" name="email" type="text"  required />
          </div>
          <div>
            <label for="password">Password</label>
            <input id="passwordReg" name="password" type="password"  required />
       
          </div>
          <div>
            <button onclick="loading('logging in...')" type="submit">Sign in</button>
          </div>
  </form>
</div>


<div id="localRegister" class="loginBody">
  <h2>
    Register Email:
  </h2>
  <form action="/regUser" method="post">
    <div>
      <label>Name</label>
      <input id="username" name="name" type="text" autocomplete="username" required />
    </div>
    <div>
      <label >Email</label>
      <input  name="email" type="email"  pattern="[a-z0-9._%+-]+@[a-z0-9.-]+\.[a-z]{2,}$" title="valid email characters not recognized" required />
    </div>
    <div>
      <label >Password</label>
      <input oninput="checkPasswords" id="password1" name="password" type="password" pattern="(?=.{8}" title="format: " required />
    </div>





    
    <div>
      <label >Confirm Password</label>
      <input id="password2" type="password"  required />
      <h4>**passwords must be 8 charachters long**</h4>
    </div>
    <div>
      <button onclick="loading('Thank you for registering your cart! Please Login')" type="submit">Register</button>
    </div>
  </form>
</div>

<div id="oauthBody" class="loginBody">
  <div><a style="text-align:center" href="/auth/google"><h2 id="gglMsg">Single Touch register in with Google:</h2>  </div> 
    <div ><img  class="gglButton" src="/images/icons/google.png" alt=""></div></a>

</div>
</div>
</div>
     
      <%- include('config/footer.ejs')%>
      <!--script src="javascripts/backgroundFX1.js"></script-->
      <%- include('./config/baseScripts.ejs')%>
   <script src="javascripts/login.js"></script> 

    </body>
    </html>