<!DOCTYPE html>
<%- include('config/head.ejs')%>
<body onload="validate()">
<html>
  <body>
  
      <%- include('config/bkgdImg.ejs')%>
      <%- include('config/loadScreen.ejs')%>
    <%- include('config/header.ejs',{data:data})%>
    <%- include('config/bkgdImg.ejs')%>
    <div class="mainStyle">
      <div class="landingPage"> 
        <div></div>
        <div>
        <h1 class="h1Span"><%=title%></h1>
        <div class="eventBody">
      <p>*We keep info private and do not sell information about our customers</p>
  <form action="/contactform" method="POST">
    <br><h2>name</h2>
      <input id="regName" type="text" name="fname"  pattern=".{3,}" title="three or more charachters" >
      <br><h2>email address</h2>
      <input id="regEmail" type="email" name="email" pattern="[a-z0-9._%+-]+@[a-z0-9.-]+\.[a-z]{2,}$" title="valid email characters not recognized">

      <select name="regType" id="">
        <option name ="vendor" value="being a vendor"><h2>Have a Question</h2></option>
        <option name ="member" value="member"><h2>Commission a Design</h2></option>       
        <option name ="feedback" value="quote"><h2>I need an Estimate</h2></option>
        <option name ="feedback" value="feedback"><h2>I want to pitch an idea</h2></option>

      </select>
      <p>Opt in to receive messages from W2 Marketing</p>
      
      <input id="regBox" type="checkbox" name="agree"><br>
      <h2 class="validateError" id="regValidateError">*please fill out all fields and "Opt In" to submit</h2>
   <h2>Your Message: </h2>
      <textarea name="message" cols="30" rows="10"></textarea>
      <button disabled onclick="loading('sending message... redirecting Home ')" id="regSubmit" type="submit"><h2>submit form</h2></button>
</form>
</div>
</div>
<div></div>
</div>
<div class="indexSpacerBottom"></div>
  </div>
 <%- include('config/footer.ejs')%>

 <%- include('./config/baseScripts.ejs')%>
 <script src="javascripts/validate.js"></script>
<!--script src="javascripts/backgroundFX1.js"></script-->
</body>
</html>